.peliculasSection {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    text-shadow: 0.5px 0.5px 0.5px rgba(3, 250, 81, 0.3);
    :hover {
        background-color: rgb(94, 156, 94);
        color: pink;
        text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
    }
}

.linkPeliculas {
    background-color: palevioletred;
    border-radius: 2em;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
    gap: 1em;
    margin: 1em;
    padding: 2em 1em;
}

.tarjetaPeliculas {
    display: flex;
    flex-direction: column;
    gap: 1em;
}

.tituloPeliculas {
    font-family: "Alumni Sans Pinstripe", sans-serif; 
    font-weight: bolder;
    text-align: center;
    font-size: 1.75em;
    color: whitesmoke;
}

.imagenesPeliculas {
}

@media screen and (max-width: 992px) {
    .linkPeliculas {
        grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
    }   
    .tituloPeliculas {
        font-size: 1.5em;
    }
}