/*CONTENIDO TEXTUAL*/
main {
    .sectionHome {
    /*background-color: palegreen;*/
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin: 0 1em;
    }
    .tituloHome {
        /*background-color: lightslategray;*/
        text-align: center;
        font-family: "MonteCarlo", cursive;
        font-size: 14rem;
        color: palevioletred;
        margin-top: -0.5em;
        margin-bottom: -0.45em;
        text-shadow: 1.8px 1.8px 3.8px rgba(3, 250, 81, 0.3);
        transform: scale(1);
        opacity: 1;
        animation: crecimientodetitulo 2s linear 0s 1 normal none;
    }
    .subtituloHome {
        /*background-color: blueviolet;*/
        text-align: right;
        font-size: 1.5rem;
        padding-right: 3.5em;
        text-shadow: 2px 2px 4px rgba(0, 196, 62, 0.3); 
        margin-bottom: 2em;
        opacity: 1;
        animation: crecimientodesubtitulo 3s linear 0s 1 normal none;
    }
    .contenedorTexto {
        margin: 1em 1em 0 1em; 
        .textoHome {
            /*background-color: blue;*/
            text-align: center;
            line-height: 1.5;
            font-family: "Alumni Sans Pinstripe", sans-serif;
            font-size: 2rem;
            color:rgb(253, 214, 220);
            text-shadow: 2px 2px 4px rgba(0, 196, 62, 0.3);
        }
    }
}

/*VIDEO DE FONDO*/
.contenedorVideoInicial {
    position: fixed;
    z-index: -1;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

#videoFondo {
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
}

@keyframes crecimientodetitulo {
    0% {
        transform: scale(0.9);
        opacity: 0;
    }
    50% {
        transform: scale(0.95);
        opacity: 0.5rem;
    }
    100% {
        transform: scale(1);
        opacity: 1rem;
    } 
}

@keyframes crecimientodesubtitulo {
    0% {
        opacity: 0;
    }
    50% {
        opacity: 0.5rem;
    }
    100% {
        opacity: 1rem;
    }
}

@media screen and (max-width: 992px) {
    main {
        .sectionHome {
        /*background-color: palegreen;*/
        display: flex;
        justify-content: center;
        flex-direction: column;
        margin: 0 1em;
        }
        .tituloHome {
            /*background-color: lightslategray;*/
            font-size: 3.7rem;
        }
        .subtituloHome {
            /*background-color: blueviolet;*/
            font-size: 0.4rem;
            padding-right: 1em;
            margin-bottom: 2em;
        }
        .contenedorTexto {
            margin: 1em 1em 0 1em; 
            .textoHome {
                /*background-color: blue;*/
                text-align: center;
                line-height: 1.5;
                font-size: 1rem;
            }
        }
    }
}

@media screen and (max-width: 1200px) {
    
}

@media screen and (max-width: 1400px) {

}