/*FUENTES*/
@import url('https://fonts.googleapis.com/css2?family=Alumni+Sans+Pinstripe:ital@0;1&family=MonteCarlo&display=swap');

/*RESETEO*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --main-color:var(rgb(216, 112, 147));
    --secondary-color:var(rgb(255, 192, 203));
    --third-color:var(rgb(94, 156, 94));
}

html {
    size: 62.5%;
    background-color: black;
}

body {
    /*background-color: palegoldenrod;*/
    width: 100%;
    height: 100%;
}

ul, ol {
    list-style-type: none;
}

a {
    text-decoration: none;
    color: whitesmoke;
}

/*ESTILOS GENERALES*/ 
h2 { 
    font-family: 'Times New Roman', Times, serif;
    font-size: 1.2rem;
    color: pink;
}

/*h3 {
    background-color: pink;
    padding: 0.25em;
    border-radius: 0.5em;
    font-family: "Alumni Sans Pinstripe", sans-serif;
    font-weight: bold;
    color: black;
    size: 2rem;
}*/

p {
    font-family: "Alumni Sans Pinstripe", sans-serif;
    font-weight: bold;
    font-size: 1.6rem;
    color: pink;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
}

.buttons {
    background-color: black;
    /*border: 2px solid palevioletred;*/
    border-radius: 0.5em;
    margin-top: 0.5em;
    gap: 1em;
    font-family: "Alumni Sans Pinstripe", sans-serif; 
    font-weight: bolder;
    font-size: 1.25rem;
    color: whitesmoke;
    padding: 0.2em 0.4em;
    cursor: pointer;
}

.buttons:hover {
    background-color: pink;
    color: black;
    animation: zoomButtons 0.25s ease-in-out 0s 1 normal none
}

@keyframes zoomButtons {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(0.95);
    }
    100% {
        transform: scale(1);
    }    
}

/*EFECTOS*/
a:hover {
    color:rgb(94, 156, 94);
}


@media screen and (max-width: 992px) {
    h2 { 
        font-family: 'Times New Roman', Times, serif;
        font-size: 1rem;
        color: pink;
    }
    p {
        font-size: 1.2rem;
        text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
    }
    .buttons {
        background-color: black;
        /*border: 2px solid palevioletred;*/
        border-radius: 0.5em;
        margin-top: 0.5em;
        gap: 1em;
        font-family: "Alumni Sans Pinstripe", sans-serif; 
        font-weight: bolder;
        font-size: 1.25rem;
        color: whitesmoke;
        padding: 0.2em 0.4em;
        cursor: pointer;
    }
}

@media screen and (max-width: 1200px) {
    
}

@media screen and (max-width: 1400px) {

}

