.sobrevideoclubContenedor {
    /*background-color: palevioletred;*/
    background-image: linear-gradient(to bottom, #d87093, #b65f7d, #964e67, #773e52, #592e3e);
    margin: 0 25em;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.3);
    .sobrevideoclubTexto {
        width: 90%;
        margin: auto;
        text-align:justify;
        line-height: 1.5;
        padding-top: 0.5em;
        .textoResaltado {
            text-align: center;
            color: black;
            font-size: 1.6rem;
            text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.3);
        }
    }
    .sobrevideoclubTexto1 {
        /*background-color: goldenrod;*/
        margin: 0 auto;
        text-align:justify;
        line-height: 1.5;
        .textoSubrayado {
            text-decoration: underline;
            color: whitesmoke;
        }
    }
    .enlacesPersonales {
        display: flex;
        flex-direction: column;
        text-align: center;
        padding: 1em 0 0.5em 0;
        gap: 15px;
        /*Estilo de fuente*/
        font-family: "Alumni Sans Pinstripe", sans-serif;
        font-weight: bold;
        font-size: 1.4rem;
    }
}

.enlacePersonal:hover {
    animation: enlacePersonal 0.5s ease-in-out 0s 1 normal none;
}

@keyframes enlacePersonal {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(0.95);
    }
    100% {
        transform: scale(1);
    }    
}

@media screen and (max-width: 992px) {
    .sobrevideoclubContenedor {
        margin: 0 2em;
        .sobrevideoclubTexto {
            width: 90%;
            margin: auto;
            padding-top: 0.5em;
            .textoResaltado {
                font-size: 1rem;
            }
        }
        .sobrevideoclubTexto1 {
            /*background-color: goldenrod;*/
            margin: 0 auto;
            text-align:justify;
            line-height: 1.5;
        }
        .enlacesPersonales {
            display: flex;
            flex-direction: column;
            text-align: center;
            padding: 1em 0 0.5em 0;
            gap: 15px;
            /*Estilo de fuente*/
            font-family: "Alumni Sans Pinstripe", sans-serif;
            font-weight: bold;
            font-size: 1.4rem;
        }
    }
}

@media screen and (max-width: 1200px) {
    
}

@media screen and (max-width: 1400px) {

}